/* .Selected{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 25rem;
    width: 500px;
} */

.form{
    width: 200px;
} 

/* .button{
    display: flex;
    align-items: center;
    padding-left: 37rem;
} */

.btn{
    padding: 0.8rem 3rem;
    color: white;
    background-color: #1976d2;
    margin: 0rem -2rem;
}